@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Roboto", sans-serif; }

header {
  background: #64b164; }
  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 2rem; }
    header nav .navbar-title,
    header nav .page-link {
      text-decoration: none; }
    header nav .navbar-title {
      font-weight: bold;
      font-size: 1.5rem;
      color: black; }
    header nav .page-link {
      color: black;
      background: #f8f8ff;
      margin: 0.75rem;
      padding: 0.5rem;
      border-radius: 5px;
      border: 2px solid black; }

main {
  background: #fff; }
  main .add-button button {
    border: none;
    background: #238ae6;
    font-weight: bold;
    color: #f8f8ff;
    border-radius: 50%;
    font-size: 4rem; }
  main .summary-content {
    height: 100%; }
    main .summary-content .summary {
      border-bottom: 1px solid black; }
      main .summary-content .summary .brief-summary {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        main .summary-content .summary .brief-summary div {
          width: 175px; }
        main .summary-content .summary .brief-summary .description {
          font-size: 2rem;
          font-weight: bold;
          padding: 0 0.75rem; }
        main .summary-content .summary .brief-summary .amount {
          font-weight: bold; }
        main .summary-content .summary .brief-summary .dropdown {
          text-decoration: none;
          border: none;
          background: none;
          color: black; }
      main .summary-content .summary .long-summary .purchase-table {
        width: 100%;
        text-align: center; }

.add-content .required-text {
  text-align: right;
  font-weight: bold; }

.add-content form {
  margin: 1rem 2rem 2.5rem 2.5rem; }
  .add-content form div label,
  .add-content form div input,
  .add-content form div select,
  .add-content form div textarea,
  .add-content form div button {
    display: block;
    width: 100%;
    padding: 0.5rem; }
  .add-content form div button {
    margin-top: 2rem;
    background: #238ae6;
    color: #f8f8ff;
    border: none;
    font-weight: bold;
    border-radius: 5px; }

footer {
  background: #64b164; }
  footer p {
    text-align: center;
    padding: 0.75rem;
    font-weight: bold; }

.container {
  padding: 2rem; }

ol,
ul {
  list-style: none; }

.required {
  color: red; }

.add-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background: #238ae6;
  color: #f8f8ff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999; }
  .add-link i {
    margin-top: 22px; }

.card-summary {
  background: #f8f8ff;
  width: 22vw;
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 2px 3px #999;
  text-align: center; }
  .card-summary .description {
    border-bottom: 1px solid gray; }
  .card-summary table {
    width: 100%; }
    .card-summary table tbody tr,
    .card-summary table tfoot tr {
      font-size: 0.75rem; }

main h2 {
  text-align: center; }

main .details-container {
  width: 100%; }
  main .details-container table {
    border-bottom: 1px solid black; }
    main .details-container table tr th {
      width: 25%;
      padding: 0.25rem; }

.purchase-details {
  border: 2px solid black;
  box-shadow: 2px 2px 3px #999;
  border-radius: 3px;
  display: inline-block;
  padding: 1rem;
  margin: 0.5rem; }

.form-body {
  text-align: center;
  margin: 2rem; }
  .form-body h2 {
    margin: 0.5rem; }
  .form-body input {
    margin: 0.5rem;
    padding: 0.5rem; }
  .form-body .submit {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: #64b164;
    color: #f8f8ff;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 3.5rem; }

.new-user-link {
  display: block;
  margin: 2rem; }

@media (max-width: 780px) {
  .summary {
    text-align: center; }
    .summary .card-summary {
      width: 60vw;
      margin: 1rem; }
  .details-container {
    text-align: center; }
    .details-container .purchase-details {
      text-align: left; }
  header {
    background: #64b164;
    padding-bottom: 1rem; }
    header nav {
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      line-height: 2rem; }
      header nav .links-div {
        margin-top: 1rem;
        width: 100%; } }

.monthly-summary {
  border: 2px solid black;
  box-shadow: 2px 2px 3px #999;
  border-radius: 5px;
  display: inline-block;
  padding: 1rem;
  margin: 1rem; }

a:active,
a:focus,
button:active,
button:focus {
  outline: none; }

.login-buttons {
  text-align: center; }
  .login-buttons button {
    width: 300px;
    height: 75px;
    margin: 1rem 0; }

.modify-buttons {
  width: 100%;
  text-align: center; }
  .modify-buttons button {
    display: inline-block;
    margin: 0.5rem 0 0.1rem 0.5rem;
    padding: 0.5rem 2rem;
    width: 45%;
    color: white;
    border: none; }
  .modify-buttons .del-button {
    background: red; }
  .modify-buttons .edit-button {
    background: green; }
